# Data Exploration

## 1. Imports

In [5]:

import pandas as pd

In [90]:
import nltk

# Downloading required packages from nltk
nltk.download('punkt_tab')
nltk.download('stopwords')

[nltk_data] Downloading package punkt_tab to /Users/jv/nltk_data...
[nltk_data]   Package punkt_tab is already up-to-date!
[nltk_data] Downloading package stopwords to /Users/jv/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [91]:
df = pd.read_csv('../../../datasets/movie_reviews_with_language.csv')
df

,movie_title,username,numeric_rating,likes,language,comment
0,2001: A Space Odyssey,qaaio,2.5,0,ar,ياساتر اقسم بالله اغبى شي تابعته واكثر شي تمطي...
1,2001: A Space Odyssey,ditapie,5.0,0,en,This is the greatest film ever made. I can’t f...
2,2001: A Space Odyssey,uchinagas,5.0,0,pt,como pode esse filme existir
3,2001: A Space Odyssey,laurkarasek,1.5,0,en,Incredibly beautiful movie - especially for th...
4,2001: A Space Odyssey,nickcaven,5.0,0,en,This movie is a slow burn masterpiece. Each sc...
...,...,...,...,...,...,...
3055,2001: A Space Odyssey,silly_pssy,5.0,1,en,shapes and colors and … well… space baby of co...
3056,2001: A Space Odyssey,pateajubiladas,5.0,0,es,La mejor película espacial en mi opinión. El f...
3057,2001: A Space Odyssey,sidracheema,3.0,2,en,Glad I watched this as Kubrick intended. Over...
3058,2001: A Space Odyssey,ciaranh123,5.0,0,en,Naruto Smith what are you doing here?
3059,2001: A Space Odyssey,eduardasimoes,5.0,1,pt,olha eu lembrava que era maluquinho mas não ti...

## 2. Exploration

In [92]:
desired_lang = 'pt'
desired_columns = ['movie_title', 'numeric_rating', 'likes', 'comment']

df_filtered = df[df['language'] == desired_lang][desired_columns]
df_filtered

,movie_title,numeric_rating,likes,comment
2,2001: A Space Odyssey,5.0,0,como pode esse filme existir
12,2001: A Space Odyssey,4.0,1,"Da evolução humana,as viagens espacias, relaçã..."
29,2001: A Space Odyssey,5.0,0,"Não entendi, mas fodastico mds"
42,2001: A Space Odyssey,5.0,0,O Stanley Kubrick gastou todas as barrinhas ne...
45,2001: A Space Odyssey,5.0,0,Esse filme é pra ver depois de ficar bem doido...
...,...,...,...,...
3023,2001: A Space Odyssey,5.0,0,"Sendo sincero, não sei se sou capaz de descrev..."
3025,2001: A Space Odyssey,5.0,0,"""This mission is too important for me to allow..."
3044,2001: A Space Odyssey,4.5,0,Visualmente impecável. Muitos filmes de cgi at...
3051,2001: A Space Odyssey,4.5,0,laerte eu não sei se entendi mas falaram que e...
3059,2001: A Space Odyssey,5.0,1,olha eu lembrava que era maluquinho mas não ti...

In [93]:
comment_example = df_filtered.iloc[3:4,:]["comment"]
comment_example.item()

'O Stanley Kubrick gastou todas as barrinhas nesse filme. Eu não acompanhei muito a carreira da Kubrick, provável dele ser assim a vida toda mas porra, como que pode? O filme é lindo, tudo nesse filme é impecável, da estética ao texto, tudo no seu devido lugar, Absolute cinema. 5/5'

## 3. Tokenization

In [94]:
comented_tokenized = nltk.word_tokenize(comment_example.item())
comented_tokenized

['O',
 'Stanley',
 'Kubrick',
 'gastou',
 'todas',
 'as',
 'barrinhas',
 'nesse',
 'filme',
 '.',
 'Eu',
 'não',
 'acompanhei',
 'muito',
 'a',
 'carreira',
 'da',
 'Kubrick',
 ',',
 'provável',
 'dele',
 'ser',
 'assim',
 'a',
 'vida',
 'toda',
 'mas',
 'porra',
 ',',
 'como',
 'que',
 'pode',
 '?',
 'O',
 'filme',
 'é',
 'lindo',
 ',',
 'tudo',
 'nesse',
 'filme',
 'é',
 'impecável',
 ',',
 'da',
 'estética',
 'ao',
 'texto',
 ',',
 'tudo',
 'no',
 'seu',
 'devido',
 'lugar',
 ',',
 'Absolute',
 'cinema',
 '.',
 '5/5']

## 4. Removing stop words

In [95]:
from nltk.corpus import stopwords
stops = set(stopwords.words('portuguese'))

print(f'The stopwords amount is {len(stops)}')
stops

The stopwords amount is 207

{'a',
 'ao',
 'aos',
 'aquela',
 'aquelas',
 'aquele',
 'aqueles',
 'aquilo',
 'as',
 'até',
 'com',
 'como',
 'da',
 'das',
 'de',
 'dela',
 'delas',
 'dele',
 'deles',
 'depois',
 'do',
 'dos',
 'e',
 'ela',
 'elas',
 'ele',
 'eles',
 'em',
 'entre',
 'era',
 'eram',
 'essa',
 'essas',
 'esse',
 'esses',
 'esta',
 'estamos',
 'estar',
 'estas',
 'estava',
 'estavam',
 'este',
 'esteja',
 'estejam',
 'estejamos',
 'estes',
 'esteve',
 'estive',
 'estivemos',
 'estiver',
 'estivera',
 'estiveram',
 'estiverem',
 'estivermos',
 'estivesse',
 'estivessem',
 'estivéramos',
 'estivéssemos',
 'estou',
 'está',
 'estávamos',
 'estão',
 'eu',
 'foi',
 'fomos',
 'for',
 'fora',
 'foram',
 'forem',
 'formos',
 'fosse',
 'fossem',
 'fui',
 'fôramos',
 'fôssemos',
 'haja',
 'hajam',
 'hajamos',
 'havemos',
 'haver',
 'hei',
 'houve',
 'houvemos',
 'houver',
 'houvera',
 'houveram',
 'houverei',
 'houverem',
 'houveremos',
 'houveria',
 'houveriam',
 'houvermos',
 'houverá',
 'houverão',
 'houveríamos',
 'houvesse',
 'houvessem',
 'houvéramos',
 'houvéssemos',
 'há',
 'hão',
 'isso',
 'isto',
 'já',
 'lhe',
 'lhes',
 'mais',
 'mas',
 'me',
 'mesmo',
 'meu',
 'meus',
 'minha',
 'minhas',
 'muito',
 'na',
 'nas',
 'nem',
 'no',
 'nos',
 'nossa',
 'nossas',
 'nosso',
 'nossos',
 'num',
 'numa',
 'não',
 'nós',
 'o',
 'os',
 'ou',
 'para',
 'pela',
 'pelas',
 'pelo',
 'pelos',
 'por',
 'qual',
 'quando',
 'que',
 'quem',
 'se',
 'seja',
 'sejam',
 'sejamos',
 'sem',
 'ser',
 'serei',
 'seremos',
 'seria',
 'seriam',
 'será',
 'serão',
 'seríamos',
 'seu',
 'seus',
 'somos',
 'sou',
 'sua',
 'suas',
 'são',
 'só',
 'também',
 'te',
 'tem',
 'temos',
 'tenha',
 'tenham',
 'tenhamos',
 'tenho',
 'terei',
 'teremos',
 'teria',
 'teriam',
 'terá',
 'terão',
 'teríamos',
 'teu',
 'teus',
 'teve',
 'tinha',
 'tinham',
 'tive',
 'tivemos',
 'tiver',
 'tivera',
 'tiveram',
 'tiverem',
 'tivermos',
 'tivesse',
 'tivessem',
 'tivéramos',
 'tivéssemos',
 'tu',
 'tua',
 'tuas',
 'tém',
 'tínhamos',
 'um',
 'uma',
 'você',
 'vocês',
 'vos',
 'à',
 'às',
 'é',
 'éramos'}

In [96]:
manual_detected_stop_words = {'o', 'a', 'os', 'as', 'um', 'uma', 'uns', 'umas', 'de', 'do', 'da', 'e', 'que', 'eu', 'tu', 'ele', 'ela', 'eles', 'vós', 'nós', 'você', 'vocês', 'me', 'te', 'lhe', 'nos', 'vos', 'lhes', 'mim', 'ti', 'si'}

print(f'The manual stop words amount is {len(manual_detected_stop_words)}')

The manual stop words amount is 31

In [97]:
all_stopwords = set(stops) | set(manual_detected_stop_words)

print(f'The final stop words amount is {len(all_stopwords)}')

all_stopwords

The final stop words amount is 213

{'a',
 'ao',
 'aos',
 'aquela',
 'aquelas',
 'aquele',
 'aqueles',
 'aquilo',
 'as',
 'até',
 'com',
 'como',
 'da',
 'das',
 'de',
 'dela',
 'delas',
 'dele',
 'deles',
 'depois',
 'do',
 'dos',
 'e',
 'ela',
 'elas',
 'ele',
 'eles',
 'em',
 'entre',
 'era',
 'eram',
 'essa',
 'essas',
 'esse',
 'esses',
 'esta',
 'estamos',
 'estar',
 'estas',
 'estava',
 'estavam',
 'este',
 'esteja',
 'estejam',
 'estejamos',
 'estes',
 'esteve',
 'estive',
 'estivemos',
 'estiver',
 'estivera',
 'estiveram',
 'estiverem',
 'estivermos',
 'estivesse',
 'estivessem',
 'estivéramos',
 'estivéssemos',
 'estou',
 'está',
 'estávamos',
 'estão',
 'eu',
 'foi',
 'fomos',
 'for',
 'fora',
 'foram',
 'forem',
 'formos',
 'fosse',
 'fossem',
 'fui',
 'fôramos',
 'fôssemos',
 'haja',
 'hajam',
 'hajamos',
 'havemos',
 'haver',
 'hei',
 'houve',
 'houvemos',
 'houver',
 'houvera',
 'houveram',
 'houverei',
 'houverem',
 'houveremos',
 'houveria',
 'houveriam',
 'houvermos',
 'houverá',
 'houverão',
 'houveríamos',
 'houvesse',
 'houvessem',
 'houvéramos',
 'houvéssemos',
 'há',
 'hão',
 'isso',
 'isto',
 'já',
 'lhe',
 'lhes',
 'mais',
 'mas',
 'me',
 'mesmo',
 'meu',
 'meus',
 'mim',
 'minha',
 'minhas',
 'muito',
 'na',
 'nas',
 'nem',
 'no',
 'nos',
 'nossa',
 'nossas',
 'nosso',
 'nossos',
 'num',
 'numa',
 'não',
 'nós',
 'o',
 'os',
 'ou',
 'para',
 'pela',
 'pelas',
 'pelo',
 'pelos',
 'por',
 'qual',
 'quando',
 'que',
 'quem',
 'se',
 'seja',
 'sejam',
 'sejamos',
 'sem',
 'ser',
 'serei',
 'seremos',
 'seria',
 'seriam',
 'será',
 'serão',
 'seríamos',
 'seu',
 'seus',
 'si',
 'somos',
 'sou',
 'sua',
 'suas',
 'são',
 'só',
 'também',
 'te',
 'tem',
 'temos',
 'tenha',
 'tenham',
 'tenhamos',
 'tenho',
 'terei',
 'teremos',
 'teria',
 'teriam',
 'terá',
 'terão',
 'teríamos',
 'teu',
 'teus',
 'teve',
 'ti',
 'tinha',
 'tinham',
 'tive',
 'tivemos',
 'tiver',
 'tivera',
 'tiveram',
 'tiverem',
 'tivermos',
 'tivesse',
 'tivessem',
 'tivéramos',
 'tivéssemos',
 'tu',
 'tua',
 'tuas',
 'tém',
 'tínhamos',
 'um',
 'uma',
 'umas',
 'uns',
 'você',
 'vocês',
 'vos',
 'vós',
 'à',
 'às',
 'é',
 'éramos'}

In [98]:
# Using stop words

comment_without_stop_words = [w for w in comented_tokenized if w not in all_stopwords]
print(f'The size of the comment with stop words is {len(comented_tokenized)}')
print(f'The size of the comment without stop words is {len(comment_without_stop_words)}\n')

comment_without_stop_words

The size of the comment with stop words is 59
The size of the comment without stop words is 42

['O',
 'Stanley',
 'Kubrick',
 'gastou',
 'todas',
 'barrinhas',
 'nesse',
 'filme',
 '.',
 'Eu',
 'acompanhei',
 'carreira',
 'Kubrick',
 ',',
 'provável',
 'assim',
 'vida',
 'toda',
 'porra',
 ',',
 'pode',
 '?',
 'O',
 'filme',
 'lindo',
 ',',
 'tudo',
 'nesse',
 'filme',
 'impecável',
 ',',
 'estética',
 'texto',
 ',',
 'tudo',
 'devido',
 'lugar',
 ',',
 'Absolute',
 'cinema',
 '.',
 '5/5']

## 5. Reading portuguese dictionary

In [6]:
from symbolic.helpers.read_dict import read_dic_file

categories, entries  = read_dic_file("../../../dictionary/LIWC2015_pt2-sem-pulo-linhas.dic")

category_df = pd.DataFrame([
    {"category_id": cat.id, "category_name": cat.name}
    for cat in categories.values()
])
category_df

    category_id category_name
0             1      function
1             2       pronoun
2             3         ppron
3             4             i
4             5            we
..          ...           ...
68          121         swear
69          122      netspeak
70          123        assent
71          124        nonflu
72          125        filler

[73 rows x 2 columns]

In [8]:
entry_df = pd.DataFrame([
    {
        "word": entry.word,
        "is_wildcard": entry.is_wildcard,
        "category_ids": entry.category_ids
    }
    for entry in entries
])

entry_df

        word  is_wildcard            category_ids
0         (:        False      [30, 31, 120, 122]
1         ):        False      [30, 32, 120, 122]
2         :(        False      [30, 32, 120, 122]
3        :'(        False  [30, 32, 35, 120, 122]
4        :-(        False      [30, 32, 120, 122]
...      ...          ...                     ...
14454  zueir         True              [120, 122]
14455   zuer         True              [120, 122]
14456   zuêr         True              [120, 122]
14457  zumbi        False                   [115]
14458     zz         True              [120, 124]

[14459 rows x 3 columns]

## 6. Steamming (Derivation)

In [87]:
ps = nltk.PorterStemmer()

comment_steammed = [ ps.stem(word) for word in comment_without_stop_words]
pd.DataFrame({
  'comment_steamed': comment_steammed,
  'comment_not_steamed': comment_without_stop_words,
})

   comment_steamed comment_not_steamed
0                o                   O
1          stanley             Stanley
2          kubrick             Kubrick
3           gastou              gastou
4             toda               todas
5         barrinha           barrinhas
6             ness               nesse
7             film               filme
8                .                   .
9               eu                  Eu
10      acompanhei          acompanhei
11        carreira            carreira
12         kubrick             Kubrick
13               ,                   ,
14        provável            provável
15           assim               assim
16            vida                vida
17            toda                toda
18           porra               porra
19               ,                   ,
20            pode                pode
21               ?                   ?
22               o                   O
23            film               filme
24           lindo               lindo
25               ,                   ,
26            tudo                tudo
27            ness               nesse
28            film               filme
29       impecável           impecável
30               ,                   ,
31        estética            estética
32           texto               texto
33               ,                   ,
34            tudo                tudo
35          devido              devido
36           lugar               lugar
37               ,                   ,
38         absolut            Absolute
39          cinema              cinema
40               .                   .
41             5/5                 5/5